* {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

h1,
h3 {
	text-align: center;
	font-family: 'Times New Roman', serif;
	font-weight: 500;
	background-color: blanchedalmond;
}

h1 {
	padding: 0.3em;
	font-size: 50px;
}

h3 {
	font-size: 32px;
}

li a {
	text-align: center;
	color: rgb(62, 105, 62);
	background-color: antiquewhite;
	padding: 20px;
	border-radius: 20px;
}
li a:hover {
	color: antiquewhite;
	background-color: rgb(62, 105, 62);
}

ol + a {
	background-color: rgba(172, 255, 47, 0.291);
	color: black;
	font-family: fantasy;
}

ol,
ul {
	font-size: 18px;
}

img {
	z-index: -1;
	height: 100vh;
	min-width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
}

.recipes {
	display: flex;
	justify-content: space-around;
	justify-items: center;
	width: 100vw;
	position: absolute;
	bottom: 2em;
}
.recipes li a {
	text-decoration: none;
}

.recipes li {
	list-style: none;
}

.trans-cont {
	margin: 0 2em;
	padding: 1em;
	border-radius: 20px;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
}

li {
	padding: 10px 0;
}
